.logo {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    font-size: 20px;
}

.logo_img {
    width: 60%;
}

.btn_container {
    position: absolute;
    bottom: 30px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_container a {
    width: 100%;
}

.btn_login {
    background: #793F5C;
    box-shadow: 0 4px 14px 0 #793F5C;
    width: 100%;
    border-radius: 25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn_login p{
    margin: 0;
}

.btn_signin {
    background: #292939;
    box-shadow: 0 4px 14px 0 #292939;
    width: 100%;
    border-radius: 25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
}

.btn_signin p {
    margin: 0;
}

.google_btn {
    width: 184px;
    height: 42px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .google_btn .google_icon_wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
  }
  .google_btn .google_icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .google_btn .btn_text {
    float: right;
    margin: 11px 11px 0 0;
    color: #4285f4;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
  .google_btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .google_btn:active {
    background: #1669F2;
  }