body {
    padding: 0;
    margin: 0;
    position: relative;
    background-color: #F5F5F2;
}

h3 {
    font-size: 24px;
    color: #292939;
}

main {
    min-height: 100vh;
    padding: 0px 20px;
}

.footer_action {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

a {
    text-decoration: none;
    color: #292939;
}

.container_category {
    display: flex;
    overflow-x: scroll;
    width: 100%;
}

.card_category {
    flex-shrink: 0;
    border-radius: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    width: 100px;
    height: 80px;
    background: #e9e8e8;
    cursor: pointer;
}

.card_category.active {
    background: #793F5C;
}

.card_category.active p,
.card_category.active i {
    color: #F5F5F2;
}
