.title {
    display: flex;
    flex-direction: column;
}

.title .name{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 77px;
}

.action i:first-child {
    margin-right: 10px;
}

.title .owner {
    display: flex;
    align-items: center;
}

.title .owner p {
    margin: 0;
    margin-left: 10px;
}

.title button{
    background: #292939;
    box-shadow: 0 4px 14px 0 #292939;
    border-radius: 25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
}