.login_form p {
    font-size: 16px;
    color: #292939;
    font-weight: 500;
}

.login_form .p_description {
    font-size: 12px;
    font-weight: 400;
}

.login_form input {
    background: #E9E8E8;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.login_form input[type="checkbox"] {
    width: 20px;
}

.error {
    margin-top: 28px;
    background: #ED6767;
    box-shadow: 0 4px 14px 0 #ED6767;
    padding: 1px 12px;
    border-radius: 20px;
    color: #FFF;
}

.login_form h5 {
    margin: 10px 0px;
}

.checkbox_row {
    display: flex;
    align-items: center;
}

.checkbox_row div {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.button_delete_insert {
    background-color: #292939;
    box-shadow: 0 4px 14px 0 #292939;
    width: 90%;
    border-radius: 25px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    cursor: pointer;
    margin-top: 20px;;
}

.button_delete_insert p {
    margin: 0;
}