.login_form p {
    font-size: 16px;
    color: #292939;
    font-weight: 500;
}

.login_form input {
    background: #E9E8E8;
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.error {
    margin-top: 28px;
    background: #ED6767;
    box-shadow: 0 4px 14px 0 #ED6767;
    padding: 1px 12px;
    border-radius: 20px;
    color: #FFF;
}